.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/backups/
/uploads/
*.sql
application/config/database.php
application/config/email.php
application/config/mailgun.php
lanus/application/config/database.php
lanus/application/config/email.php
lanus/application/config/mailgun.php
pedidoslomas/application/config/database.php
pedidoslomas/application/config/email.php
pedidoslomas/application/config/mailgun.php
node_modules/
dist/
.env
